body{
  background-color: #FAFAFA;
}

.app-container{
  width:50vw;
  margin: auto;
  
  text-align: center;
  padding-top:4em;
 
}

a{
text-decoration: none;  
color:#F1BD1C;
}
.app-container>p{
  font-size: 1rem;
  font-weight: 600;
}
.card-grid{
 
  width: 95%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  display: grid;
  grid-column-gap: 20px;
}
.card-img{
  width:30%;
}
.card{
background-color: white;
border-radius: 5px; 
text-align: left; 
padding: 1em;
box-shadow: 0.2px 1px 1px black;
}
.card-img>img{
  width: 100%;
  height:auto;
  object-fit: cover;
}
.cname{
  color: #757575;
  padding: 0;
 margin:0;

  font-weight: 500;
}
.dates{
  color: #757575;
  padding: 0;
 margin:0;

  font-weight: 500;
}
.card>h5{
  
  margin-bottom: 2em;

}
.card>h2{
 padding: 0;
  margin: 0.4em 0;
}
.card>p{
  padding: 0;
  margin:0;
}
.select{
margin:2em;
}
select{
  width:60%;
 background-color: none;
 background: none;
  font-size:1.3rem;
 padding: 0.2em;
 border:none;
 border-bottom: 1px solid black;
 outline: none;
 cursor: pointer;
}
select:focus{
  background-color: #EDEDED;
}


canvas {
  border: 1px dotted red;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 60vh;
  width: 100%;
  margin-bottom: 5em;
 
}
